@use '@angular/material' as mat;

/* Azure / Fluent inspired palette */
$primary: mat.define-palette(mat.$blue-palette, 600);
$accent: mat.define-palette(mat.$blue-palette, 400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.define-typography-config(
    $font-family: 'Segoe UI, Roboto, Arial'
  )
));

@include mat.all-component-themes($theme);

/* App background */
html, body {
  height: 100%;
  margin: 0;
  background: #f5f6f8; /* Azure DevOps background */
}
